.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.customers tr:nth-child(even) {
  background-color: var(--secondary-bg);
}

.customers tr:hover {
  background-color: var(--primary-bg);
  color: black;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
