* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg);
  letter-spacing: 1px;
  line-height: 35px;
  overflow-x: hidden;
}

:root {
  --primary-bg: #082032;
  --secondary-bg: #0b2a42;
  --primary-font: #f8f4f4;
  --font-color-dark: #333;
  --border-radius: 0.5rem;
  --btn-primary: #2e76cf;
}

.section {
  min-height: 100vh;
  /* width: 100vw; */
  padding-bottom: 2rem;
}

.rounded-radius {
  border-radius: 50%;
}

.grid {
  display: grid;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-align-center {
  align-items: center;
}

.grid-justify-center {
  justify-items: center;
}

.grid-gap-1 {
  gap: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-3 {
  padding: 3rem;
}

.text-center {
  text-align: center;
}

.border-radius {
  border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .grid-sm-col-1 {
    grid-template-columns: 1fr;
  }

  .grid-sm-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-col-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 550px) {
  .grid-col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
