.main {
  background-color: var(--primary-bg);
  width: 100%;
  max-width: 0 auto;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1250px) {
  .container {
    padding: 0 2rem;
  }
}
