.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  position: relative;
}

.brandLogo {
  font-size: 2rem;
}

.navItems {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navLink {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--primary-font);
  font-weight: bold;
  padding: 0.5rem 0.4rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  transition: all 0.1s ease;
}

.navLink:hover {
  color: red;
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.2rem;
  z-index: -1;
  transition: all 0.5s ease;
}

.navLink:hover::before {
  left: 0;
  width: 100%;
  border-radius: var(--border-radius);
  background: linear-gradient(to right, gold, blue);
}

.navLink.active::before {
  left: 0;
  width: 100%;
  border-radius: var(--border-radius);
  background: linear-gradient(to right, gold, blue);
}

.navLink.active {
  color: red;
}

.toggle {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  .toggle {
    display: block;
    z-index: 150;
  }

  .brandLogo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 5rem;
  }

  .navItems {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 50vh;
    z-index: 100;
    background-color: var(--secondary-bg);
    transition: all 0.5s ease;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
  }
}

.navItemsOpen {
  top: 0;
}
