.showcase {
  position: relative;
  overflow-x: hidden;
}

.showcaseContent {
  height: 100vh;
}

.image {
  border-radius: 50%;
}

@media (max-width: 700px) {
  .showcase {
    text-align: center;
  }
}
